# ===================================================================
#  Core Data Analysis & Quantitative Libraries
# ===================================================================
# We specify the main libraries. Their dependencies (like six, pytz,
# python-dateutil, etc.) will be installed automatically.

numpy~=2.3
pandas~=2.3

# The official PyPI version 0.3.14b0 has a known import bug.
# This command installs the latest, fixed version directly from GitHub.
ft-pandas-ta~=0.3.15



# ===================================================================
#  API Clients & Database Connectors
# ===================================================================
# For interacting with external services.

# For the Binance cryptocurrency exchange API
python-binance~=1.0.29

# For creating a Telegram bot
python-telegram-bot~=22.1

# For connecting to a MongoDB database
pymongo~=4.13


# ===================================================================
#  Utility Libraries
# ===================================================================

# For advanced parsing of dates from string formats
dateparser~=1.2

# For loading environment variables from a .env file (e.g., API keys)
python-dotenv~=1.1.0

